    h1{
     text-align:center;
     font-family:Arial, Helvetica, Sans-Serif;
    }

    h3{
     text-align:center;
     font-family:Arial, Helvetica, Sans-Serif;
    }

    p{
      font-family: Arial, Helvetica, sans-serif;
      text-align: justify;
      margin-left: 5px;
      margin-right: 5px;
      text-indent: 20px;
    }
  
  
    