<ion-header>
  <ion-toolbar>
    <ion-title>Dados do Curso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form #fc1="ngForm" (ngSubmit)="onSubmit(fc1)">
      <ion-item>
        <ion-label>Cursos</ion-label>
      <!-- ion-input type="text" name="tipo" [(ngModel)]="servico.tipo" #tipo="ngModel" ></ion-input -->
        <ion-select multiple="true" cancelText="cancelar" okText="Ok" name="tipo" [(ngModel)]="servico.tipo" #tipo="ngModel" required>
          <ion-select-option value="mm">Montagem e Manutenção</ion-select-option>
          <ion-select-option value="infob">Informática basica</ion-select-option>
          <ion-select-option value="wd">Word</ion-select-option>
          <ion-select-option value="ex">Excel</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Descricao</ion-label>
        <ion-input type="text" name="descricao" [(ngModel)]="servico.descricao" #nome="ngModel" required></ion-input>
      </ion-item>
    
    <ion-item>
      <ion-label>Periodo</ion-label>
      <!-- ion-input type="number" name="valor" [(ngModel)]="servico.valor" #valor="ngModel" ></ion-input -->
      <ion-select multiple="true" cancelText="cancelar" okText="Ok"  name="valor" [(ngModel)]="servico.valor" #valor="ngModel" required>
      <ion-select-option value="6">6 meses</ion-select-option>
      <ion-select-option value="12">12 meses</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item lines="none"></ion-item>

    <ion-item lines="none">
      <ion-button type="submit" color="primary" [disabled]="fc1.invalid">Salvar</ion-button>
      <ion-button type="reset" [routerLink]="[('/tabs/tab3')]" color="primary">Cancelar</ion-button>
    </ion-item>

  </form>
</ion-content>