<ion-header>
  <ion-toolbar>
    <ion-title>
      APP CURSO
    </ion-title>
    <ion-title slot="end">
      <ion-icon name="person" [routerLink]="[ '/tabs/login']"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-card>
  <ion-card-header>
    <ion-item href="cursos" class="activated">
    <img src="/assets/tp.jpg">
    <ion-card-subtitle></ion-card-subtitle>
    <ion-card-title>CURSOS</ion-card-title>
    </ion-item>
  </ion-card-header>

  <ion-card-content>
    
  </ion-card-content>
</ion-card>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-item href="mm" class="activated">
      <img src="/assets/mm.jpg">
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title></ion-card-title>
      </ion-item>
    </ion-card-header>

    <ion-card-content>
      
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-item href="infob" class="activated">
      <img src="/assets/ib.jpg">
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title></ion-card-title>
      </ion-item>
    </ion-card-header>

    <ion-card-content>
      
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-item href="word" class="activated">
      <img src="/assets/cw.jpg">
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title></ion-card-title>
      </ion-item>
    </ion-card-header>

    <ion-card-content>
      
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-item href="exel" class="activated">
      <img src="/assets/ce.jpg">
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title></ion-card-title>
      </ion-item>
    </ion-card-header>

    <ion-card-content>
     
    </ion-card-content>
  </ion-card>

  

</ion-content>