<ion-header>
  <ion-toolbar>
    <ion-title>perfil do cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list lines="none">

  <ion-item>
    <img [src]="cliente.foto" alt="" *ngIf="cliente.foto != null">
    <img src="/assets/perfil.jpg" alt="" *ngIf="cliente.foto==null">
  </ion-item>

  <ion-item>
    <ion-label>nome</ion-label>
    <ion-text>{{ cliente.nome }}</ion-text>
  </ion-item>

  <ion-item>
      <ion-label>e-mail</ion-label>
      <ion-text>{{ cliente.email }}</ion-text>
    </ion-item>

    <ion-item>
        <ion-label>Ativo</ion-label>
        <ion-text>{{ cliente.ativo }}</ion-text>
      </ion-item>

</ion-list>
</ion-content>
